@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif+KR');

body {
  width: 90vw;
  max-width: 800px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
}

.router-link-exact-active {
  text-decoration: none;
  color: black;
  cursor: default;
}

nav, h1 {
  font-family: 'Noto Sans', sans-serif;
}

nav ul {
  display: flex;
  align-content: space-around;
}

ul {
  list-style: none;
}

nav ul li {
  margin-right: 10px;
}

.story, .word {
  font-family: 'Noto Serif KR', serif;
}

.remaining-words {
  margin-bottom: 10px;
}

li.story {
  margin-bottom: 40px;
}
.permalink {
  color: #aaa;
  margin-right: 10px;
  text-decoration: none;
}

.permalink:hover {
  color: #777777;
}

main {
  width: 80vw;
  max-width: 600px;
  margin: 0 auto;
}

.remaining-words,
.incomplete-story {
  color: #9a9a9a9a;
}

.incomplete-story {
  margin-left: 10px;
}

.error {
  color: rgb(138, 16, 16);
}

.story-detail, .write {
  margin-top: 30px;
}

